fastapi
uvicorn
mistralai==0.4.2
python-dotenv
PyPDF2
python-docx
opencv-python
pillow
numpy
torch
transformers
easyocr
python-multipart
sentence_transformers
langchain==0.3.7
sentence-transformers==3.0.1
chromadb==0.5.3
openai==1.52.2
tiktoken==0.7.0
numpy==1.26.4
pandas==2.2.3
torch>=2.1.0
